<!DOCTYPE html>
<html lang="hu" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
  </head>
  <body>
    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/tehenesz">Tehenészet</a>
        </div>
        <% if (typeof belepve !== 'undefined' && belepve === true) { %>
          <div class="navbar-start">
            <a class="navbar-item" href="/logout">Kijelentkezés</a>
          </div>
        <% } %>
      </div>
    </nav>
