html, body {
  height: 100%;
  background-color: green;
  background-image: url('/img/grassbetter.png');
  background-repeat: round;
}

.elements-container {
  margin: 5% auto auto auto;
}

.form-container {
  padding: 20px;
  margin: 5% auto auto auto;
  background-color: green;
  max-width: 500px;
}

.form-help {
  display: none;
}

.footer {
  background-color: transparent;
  padding: 0;
  position: absolute;
  bottom: 0;
  margin-left: 15%;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}

.button.is-success {
  background-color: green;
}

.button.is-success:hover {
  background-color: #a2b015;
}

.button.is-info {
  background-color: #809bce;
}

.button.is-danger {
  background-color: #f15025;
}
